In [1]:
import data_analysis as da

In [2]:
program = da.Table_record_creator(300,'grid_markow_1000_0.2_0',0,3)

In [3]:
df = program.table_record()

/Users/zoltanvarga/Documents/Simulator_human_behaviour/data_analysis.py:339: RuntimeWarning: invalid value encountered in scalar divide
  probabilities = [i / total_count for i in calc]

Run was succesful

In [4]:
df.to_latex()

'\\begin{tabular}{llllllrrrrrr}\n\\toprule\n & network & model & demand & Bounded & Greedy & link_value & link_std & TT_value & TT_std & entropy_value & entropy_std \\\\\n\\midrule\n0 & grid & markow & 1000 & 0.2 & 0 & 36.000000 & 11.210000 & 62844.000000 & 4408.820000 & 0.270000 & 0.410000 \\\\\n\\bottomrule\n\\end{tabular}\n'

In [41]:
import pandas as pd

In [43]:
df

,Unnamed: 0,departure_time,arrival_time,ox,oy,dx,dy
0,0,21935,29735,2.409292,48.854305,3.354430,48.539813
1,1,59735,67835,3.354430,48.539813,2.409292,48.854305
2,2,23194,30994,2.373045,48.890396,3.348893,48.536200
3,3,60994,69094,3.348893,48.536200,2.373045,48.890396
4,4,25145,32945,2.389739,48.879138,3.355642,48.539596
...,...,...,...,...,...,...,...
13498,13659,48889,49189,3.371635,48.530162,3.372080,48.532322
13499,13660,62989,65389,3.372080,48.532322,2.347079,48.938580
13500,13661,30012,31812,2.358421,48.772321,3.372080,48.532322
13501,13662,46212,48012,3.372080,48.532322,2.358421,48.772321
13502,13663,43911,44811,3.291240,48.542533,3.386059,48.577697

In [42]:
df = pd.read_csv('/Users/zoltanvarga/Downloads/sourdun.csv')

In [15]:
import osmnx as ox
import pandas as pd

# Create a DataFrame
data = {
    "Unnamed: 0": [0, 1],
    "departure_time": [21935, 59735],
    "arrival_time": [29735, 67835],
    "ox": [2.409292, 3.354430],
    "oy": [48.854305, 48.539813],
    "dx": [3.354430, 2.409292],
    "dy": [48.539813, 48.854305]
}
df = pd.DataFrame(data)

# Function to get the nearest road ID
def get_road_id(lat, lon):
    graph = ox.graph_from_point((lat, lon), dist=500, network_type='drive')
    node = ox.distance.nearest_nodes(graph, X=lon, Y=lat)
    return node

# Get road IDs for departure and arrival
departure_road_ids = []
arrival_road_ids = []

for _, row in df.iterrows():
    departure_road_ids.append(get_road_id(row['oy'], row['ox']))
    arrival_road_ids.append(get_road_id(row['dy'], row['dx']))

# Display the road IDs
print("Departure Road IDs:", departure_road_ids)
print("Arrival Road IDs:", arrival_road_ids)

Departure Road IDs: [244455481, 2466594130]
Arrival Road IDs: [2466594130, 244455481]

In [31]:
import requests

# Coordinates for the location you want to query
latitude = 48.539813
longitude = 3.354430
radius = 20  # Search radius in meters

# Overpass API query for ways within a certain radius of the given latitude and longitude
overpass_url = "http://overpass-api.de/api/interpreter"
overpass_query = f"""
<osm-script output="json">
  <query type="way">
    <around lat="{latitude}" lon="{longitude}" radius="{radius}"/>
  </query>
  <print/>
</osm-script>
"""

# Send the request to the Overpass API
response = requests.get(overpass_url, params={'data': overpass_query})

# Check if the response is successful
if response.status_code == 200:
    data = response.json()
    
    # Extract Way IDs where the 'building' key is not present
    way_ids = [way['id'] for way in data['elements'] if way['type'] == 'way' and 'building' not in way.get('tags', {})]
    
    if way_ids:
        print("Found Way IDs (excluding buildings):", way_ids)
    else:
        print("No ways found in this area that are not buildings.")
else:
    print(f"Request failed with status code {response.status_code}")

Found Way IDs (excluding buildings): [238860334]

In [39]:
import requests

# Coordinates for the location you want to query
latitude = 48.539813
longitude = 3.354430
radius = 50  # Search radius in meters

# Overpass API query for ways and nodes within a certain radius of the given latitude and longitude
overpass_url = "http://overpass-api.de/api/interpreter"
overpass_query = f"""
<osm-script output="json">
  <query type="node">
    <around lat="{latitude}" lon="{longitude}" radius="{radius}"/>
  </query>
  <print/>
</osm-script>
"""

# Send the request to the Overpass API
response = requests.get(overpass_url, params={'data': overpass_query})

# Check if the response is successful
if response.status_code == 200:
    data = response.json()
    
    # Extract Node IDs
    node_ids = [node['id'] for node in data['elements'] if node['type'] == 'node']

    if node_ids:
        print("Found Node IDs:", node_ids)
    else:
        print("No nodes found in this area.")
else:
    print(f"Request failed with status code {response.status_code}")

Found Node IDs: [1028123169, 1028123251, 1303617151, 1303617244, 1303617430, 1303617686, 1303617731, 1303617884, 1303618070, 1303618163, 1303618470, 1303618513, 1303618733, 1303619123, 1303619187, 1303619732, 1303619804, 1303619838, 1303620138, 1303620570, 1303620603, 1303620723, 1303620756, 1303620768, 1303620893, 1303621175, 1303621388, 1303621575, 1303621648, 1303622570, 1303622709, 1303622898, 1303622930, 1303622942, 1303623205, 1303623737, 1303624321, 1303624393, 1303624747, 1303624900, 1303625093, 1303625353, 1303626465, 1303626646, 1303627198, 1303627632, 1303627952, 1303628033, 1303628385, 1303628516, 1303628878, 1303628997, 1303629330, 1303629630, 1303629717, 1303630133, 1303630579, 1303631301, 1303631367, 1303631390, 1303631771, 1303632506, 1303632979, 1303634218, 1303634292, 1303634316, 1303634653, 1303635114, 1303635441, 1303635535, 1303635767, 2466594142]

In [40]:
import requests

# Coordinates for the location you want to query
latitude = 48.539813
longitude = 3.354430
radius = 50  # Search radius in meters

# Overpass API query for ways and their nodes within the radius
overpass_url = "http://overpass-api.de/api/interpreter"
overpass_query = f"""
<osm-script output="json">
  <query type="way">
    <around lat="{latitude}" lon="{longitude}" radius="{radius}"/>
  </query>
  <print/>
  <recurse type="way-node"/>
  <query type="node">
    <around lat="{latitude}" lon="{longitude}" radius="{radius}"/>
  </query>
  <print/>
</osm-script>
"""

response = requests.get(overpass_url, params={'data': overpass_query})

# Check if the response was successful
if response.status_code == 200:
    data = response.json()
    
    # Separate ways and nodes
    ways = [way for way in data['elements'] if way['type'] == 'way' and 'building' not in way.get('tags', {})]
    nodes = {node['id']: node for node in data['elements'] if node['type'] == 'node'}
    
    # Cross-reference nodes with non-building ways
    nodes_in_non_building_ways = set()
    for way in ways:
        if 'building' not in way.get('tags', {}):  # Exclude ways tagged as 'building'
            for node_id in way.get('nodes', []):  # Collect node IDs from the way
                if node_id in nodes:  # Ensure the node exists in the data
                    nodes_in_non_building_ways.add(node_id)
    
    # Convert to a list for output
    cross_referenced_node_ids = list(nodes_in_non_building_ways)
    
    if ways:
        print("Found Way IDs:", [way['id'] for way in ways])
    else:
        print("No ways found within the radius.")
    
    if cross_referenced_node_ids:
        print("Cross-referenced Node IDs (associated with non-building ways):", cross_referenced_node_ids)
    else:
        print("No nodes found in non-building ways.")
else:
    print(f"Request failed with status code {response.status_code}")

Found Way IDs: [238860334, 238860376]
Cross-referenced Node IDs (associated with non-building ways): [1028123169, 1028123251, 2466594142]

Azok a way idk ahonnan from az elso ertelmes megtalalhato nodeid